@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');
*{
  padding: 0;
  margin: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    margin:0 auto; 
}
h1, h2, h3, h4, h5, h6{
  font-family: "Roboto", sans-serif;
  /* line-height: 1; */
}
h1 {
  font-size: 27px !important;
  color: #fff;
  font-weight: 800 !important;
}

h2 {
  font-size: 22px !important;
  color:#280443 !important;
  font-weight: 800;
  text-transform: uppercase;
  
}

h3 {
  color:#280443 !important;
  font-size: 19px;
  font-weight: 800 !important;
  padding-top: 15px !important;
  text-transform: uppercase;
}

h4 {
  font-size: 15px;
  color: #ffffff !important;
  text-transform: uppercase;
  font-weight: 900;
}

h5 {
  font-size: 28px;
  color: #FE420C;
  font-weight: bold;
}

h6 {
  font-size: 16px;
  color: #fff;
  font-weight: bold;

}
p{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px !important;
  font-weight: normal !important;
  color:#000;
}
.section{
  padding-top: 35px;
}
.slider{
  text-align:left;
  
}
.fixed{
  width: auto;
  
}
.icono-social{
  color:#280443;
  /* font-size:20px; */
  
}
.icono-socia{
  border-radius:50px;
  padding: 8px 9px 8px 9px;
  background-color:#fff;
  padding-right: 15px;
  padding-left: 15px;
}
.icono-social1{
  color:#fff;
  font-size:22px !important;
  padding: 5px;
}

.icono-socia2{
  color:#280443;
  font-size:22px !important;
  padding: 5px 5px 5px 5px;
  background-color: #280443;
  border-radius: 50px;
}
/* menu servicios *********************************** */

.banner-principal{
align-items: center;

}
.izquierda{
height:400px;
display: flex;
align-items: center;
}
.contenido-izquierda{
width: 100px;
}
.contenido-iz p{
  color:#fff !important;
}
.derecha{
/* height:500px; */
display: flex;
align-items: center;
}
.contenido-dr{
width:400px;
}
.boton_personalizado{
  background-color:#28044300;
  color:#fff;
  border-radius:5px;
  /* box-shadow: 2px 2px 6px  #b1b1b1; */
  font-size: 20px !important;
  padding:12px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px;
  outline: 1px solid #ffffff;
    /* padding:15px; */
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
.boton_personalizado:hover{
  background-color:#532868;
  color:#fff;
}

.frace{
  padding-top: 100px;
  padding-bottom:5px;
  text-align: center;
}
.section3{
  padding-top:50px;
  text-align:center;
}

/* slider */
.img-principal{
  width: 96%;
  max-width: 400px;
  margin: 0 auto;
  width:750px;
  border-radius:5px;
}
.img-fotografia{
  width: 96%;
  max-width: 380px;
  margin: 0 auto;
  width:750px;
  border-radius:5px;
}
.contenido-dr img{
  width: 100%;
height: auto;
}

/* .formulario-contacto{
  text-align:center;
  padding-top:50px;
} */
/* formulario  */

/*************************formulario ********************/
.form-group{
  font-family: 'Open Sans', sans-serif;
  color:#000;
  font-size: 20px !important;
}
.formulario-servicio{
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #fff;
  border-radius: 50px;
}
.form-title{
  width: 100%;
  /* background-color: #2196F3; */
  color: #fff;
  display: flex;
  padding: 30px 30px 30px 55px;
  border-top-left-radius: 50px 50px;
  border-top-right-radius: 50px 50px;
  text-transform: uppercase;
}
.form-contenido{
  padding: 30px 30px 30px 30px;
  border-radius:solid 2px rgb(241, 241, 241);
}
.form-contenido option{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px !important;
  font-weight: normal !important;
  color:red;
}
/*Carita feliz*/
.form-input{
  padding: 10px 10px 10px 20px;
  border-radius: 50px;
  margin: 10px 0px 0px 0px;
  font-size: 16px !important;
  width: 100%;
  font-weight: normal !important;
}
.form-select{
  font-size: 16px !important;
  font-weight: normal !important;
}
/* **************************************************** */
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #280443 !important;
  font-size: 20px !important;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
a:hover {
  color: #280443 !important;
}
a.nav-link:hover{
  background-color: #e6e6e6;
  border-radius: 50px;
  color: #fff;
}
.escritor{
  color: #FE420C;
}

/* ***************mision estilos****************** */
.titulo-seccion{
  text-align:center;
  color: #280443 !important;
}
.mision{ 
  /* width: 90%; */
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 40px 25px 40px 25px;
  text-align: left;
  background-color: #ffffff;
  /* border-bottom: 6px solid #280443; */
  color: #000 ;

}
.mision-titulo{
  color: rgb(39, 39, 39);
  text-align: center;
}
.mision-contenido{
  color: #5f5f5f;
  padding: 20px 20px 20px 20px;
  border: 10px;
} 

/* Services Section
--------------------------------*/
#services {
  
  background-size: cover;
  padding: 20px 0 60px 0;  
}

#services .service-item {
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

#services .service-icon {
  float: left;
  background: #280443;
  padding: 16px;
  border-radius: 50%;
  transition: 0.5s;
  color: #fff;
  /* border: 1px solid #fff; */
}

#services .service-icon i {
  color:#fff;
  font-size: 24px;
}

#services .service-item:hover .service-icon {
  background:#e0e0e0;
}

#services .service-item:hover .service-icon i {
  color: #280443;
}
/**********************icono de mision vision******************/
#services .service-icon2 {
  background: #280443;
  padding: 16px;
  border-radius: 50%;
  transition: 0.5s;
  color: #fff;
  width: 70px;
}

#services .service-icon2 i {
  color:#fff;
  font-size: 24px;
}

#services .service-item:hover .service-icon2 {
  background:#e0e0e0;
}

#services .service-item2:hover .service-icon2 i {
  color: #280443;
}
/***********************fin icono de mision vision*******************/
#services .service-title {
  margin-left: 80px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-decoration: bold;
  color: #280443 !important;
  padding-top: 0px;
}

#services .service-title a {
  color: #280443;
  text-decoration: none;
}

#services .service-description {
  margin-left: 80px;
  line-height: 24px;
  color: #280443;
  padding-bottom: 15px;
}

.img-servicio{
  padding: 15px;
  border: 20px;
}

.card-img, .card-img-top {
    border-top: calc(0.5rem - 1px) !important;
    border: calc(0.5rem - 1px) !important;
    margin: 10px;
}
.imagen-servicios-inicio{
    border-top: calc(0.5rem - 1px) !important;
    border: calc(0.5rem - 1px) !important;
    margin: 10px;
    height: 400px;
}
.ca{
  margin: 10px;
}
.ca a img{
  width: 100%;
  height: 100%;
}
/* ***********************************contacto****************************** */
.card{
  border: 0px solid !important;
}
.formulario-contacto{
  text-align:center;
  padding-top:20px;
}
/* formulario  */
.formulario-servicio{
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #fff;
  border-radius: 50px;
}
.form-title{
  width: 100%;
  /* background-color: #2196F3; */
  color: #fff;
  display: flex;
  padding: 30px 30px 30px 55px;
  border-top-left-radius: 50px 50px;
  border-top-right-radius: 50px 50px;
  text-transform: uppercase;
}
.section-global{
  padding-top:70px;
}
.section-global2{
  padding-top:30px;
  background-color:#f9f9f9;
}
.informacion{
  text-align:center;
  padding:20px;
  border: 15px;
}
.informacion2{
  text-align:right;
  padding-top:40px;
  border: 15px;
}
.mapa{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 0 20px 0 20px;
  width:500px;
  height:400px;
  align-items:center;
}
.map-responsive{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height: 640px;
}
.map-responsive iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}
.btn-servicios{
  border-radius: 40px;
  background-color:#280443;
  border-color:#280443;
  padding: 10px 10px 10px 10px;
  border-radius: 50px;
  margin: 10px 0px 0px 0px;
  width:300px;
}
.btn-servicios:hover{
  background-color: #280443;
  color: #fff;
}
/* *********************************************servicios*************************************** */

.servicio-principal{
  padding-top: 150px; 
}
.card{
border: 0px solid !important;
align-items: center;
/* border: 1px solid rgba(0,0,0,.125); */
}
.servicio-contenido{
  background-color:#fff; 
  padding-top:80px;
}
.servicio-contenido h2{
  color: #280443;
}
.servicio-contenido2{
  background-color:#f9f9f9; 
  padding-top:50px;
}
.cuadrado_lila{
  outline: 3px solid #fff;
  padding:10px;
  width: 92%;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 30px;
  text-align: left;
  background-color: #280443;
  margin: 20px;
  color: #fff !important;
}
.cuadrado_lila h3{
  color: #fff !important;
}
.cuadrado_lila p{
  color: #fff !important;
}
.cuadrado4{
  outline: 3px solid #fff;
  padding:10px;
  width: 95%;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 30px;
  text-align: center;
  background-color: #280443;
  margin: 15px;
}
.cuadrado4 p,h3{
  color: #280443 !important;
}
.cuadrado{
  /* outline: 3px solid #280443;
  padding:15px; */
  /* width: 90%; */
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 40px 40px 40px 40px;
  text-align: left;
  background-color: #ffffff;
  /* border-bottom: 6px solid #280443; */
}
.cuadradoo{
  padding-bottom: 30px;
}
.contenido-web{
  margin: 10px;
  text-align: center;
}
.imagen-web{
  margin-top: 10px;
  margin-bottom: 10px;
}
.contenido-web img{
  padding: 10px;
}
/* ***************************************footer******************************************** */
.footer {
  width: 100%;
  padding: 0px 0px;
  background-color: #280443;
  color: #fff;
  margin-top: 40px;
}

.container_footer {
  display: flex;
  /*separar en columnas */
  flex-wrap: wrap;
  /*se pongan una debajo de otra*/
  justify-content: space-between;
  /*espacio completo*/
  max-width: 1250px;
  margin: auto;
  /*espacio de arriba*/
}

.logo_footer {
  position: static !important;
  width: 100%;
  text-align: center;
  /* margin-top:0px; */
}

.box_footer1 {
  display: flex;
  /*para que los elementos se pongan uno ensima de otro*/
  flex-direction: column;
  padding: 10px 20px 10px 20px;
}
.box_footer {
  display: flex;
  /*para que los elementos se pongan uno ensima de otro*/
  flex-direction: column;
  padding: 10px 20px 20px 20px;
}

.box_footer .logo img {
  width: 150px;
  
}

.box_footer .terms {
  max-width: 350px;
  margin-top: 20px;

  color: #ffffff;
  /* font-size: px; */
}

.box_footer h6 {
  margin-bottom: 18px;
  /*espacio del titulo  y los links*/
  color: #ffffff;
}

.box_footer a {
  margin-top: 10px;
  color: #ffffff;
  font-size: 20px;
  border-radius: 50%;
}
i.fas {
  display: inline-block;
  border-radius: 60px;

  box-shadow: 0px 0px 2px #fff;
  padding: 0.1em 0.2em;
}

.box_footer a:hover {
  color: rgb(231, 231, 231);
}

.box_footer a .fa {
  font-size: 25px;
  display: inline;
}

.box_copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 10px;
  font-size: 18px;
}
.box_copyright p{
  color:#fff !important;
}
*, ::after, ::before {
box-sizing: border-left;
}

.box_copyright hr {
  border: none;
}

.titulo-footer {
  text-align: left;
  color: #fff !important;
  display: flex;
  text-decoration: none;
  padding: 0;
}
.titulo-footer h3 {
  color: #fff !important;
}

.subtitulo-footer {
  color: #fff !important;
  margin-top: 5px;
  display: flex;
  text-align: left;
  text-decoration: none;
  margin-bottom: 0 !important;
  font-weight: 800 !important;
}

.contenido-footer {
  color: white;
  /* font-size: 12px; */
  margin-top: 0px !important;
  display: flex;
  text-align: left;
  text-decoration: none;
}
.img-footer {
  height: 50px;
  padding: 2px;
}
.inline {
  align-items: inline;
}
.btn-wsp i{
  position:fixed;
  width:70px;
  height:70px;
  line-height: 70px;
  bottom:25px;
  right:25px;
  background:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:45px;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
  z-index:100;
  transition: all 300ms ease;
}
.btn-wsp:hover i{
  background: #20ba5a;
  color: #e0e0e0;
}
/***************************equipo*************************/
.container-equipo{
  max-width: 1300px;
  margin: auto;
  display: flex; /*Establecemos la flex al contenedor*/
  flex-wrap: wrap; /*wrap para que los ítems sobrantes se desplacen a otra fila*/
}

.item{
  /* padding:10px; */
  width:23%; /*Establecemos el ancho en % de los ítems*/
  box-sizing: border-box;
  /* border: 2px solid #000; */
  background-color:#280443;
  border-radius:5px;
  margin:10px;
  text-align:center;
}

.item img{
  width:100%;
  height: 280px;
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
}
.item-text{
  padding:15px;
}
.item-text p{
  color: #fff !important;
}
.form-contenido a{
  color: #fff;
  border-radius: 40px;
  background-color:#280443;
  border-color:#280443;
  padding: 12px 12px 12px 12px;
  border-radius: 50px;
  margin: 10px 0px 0px 0px;
  width:100%;
  text-decoration: none;
}
.form-contenido a:hover{
  color: #fff !important;
}
@media(max-width:1145px){
  .item{
      width:48%;
  }
  
}
@media(max-width:1121px){
  .item{
      width:45%;
  }
}
@media(max-width:768px){
  .item{
      width:100%;
  }
}
/***************************fin equipo*********************/
/***************************seccion servicio*************************/
.container-servicio-descripcion{
  max-width: 1300px;
  margin: auto;
  display: flex; /*Establecemos la flex al contenedor*/
  flex-wrap: wrap; /*wrap para que los ítems sobrantes se desplacen a otra fila*/
}
.item-servicio{
  /* padding:10px; */
  width:48%; /*Establecemos el ancho en % de los ítems*/
  box-sizing: border-box;
  /* border: 2px solid #000; */
  /* background-color:#280443; */
  border-radius:5px;
  margin:10px;
  text-align:left;
}
/* .item-text-servicio{
  padding:15px;
} */
/* Ultimo servicios  */
.card{
  border: 0px solid !important;
  /* border: 1px solid rgba(0,0,0,.125); */
  padding:5px;
  background-color: rgba(255, 255, 255, 0) !important;
}
.contenedor{
    position: relative;
    /* display: inline-block; */
    text-align: center;
    height: 95%;
}
.contenedor img{
  width:95%;
}
.texto-encima{
    position: absolute;
    top: 10px;
    left: 0px;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color:#fff !important;
}
.centrado a{
    background-color: #FE420C;
    border-radius: 50px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    color: #fff;
}
.centrado a:hover{
  color: #fff !important;
}
.imgzoom{
  transition: transform .2s;
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
.imgzoom:hover {
  transform: scale(1.1);
}
.circle{
  background-color: #280443;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

@media(max-width:1147px){
  .item-servicio{
      width:47%;
  }
  
}
@media(max-width:1213px){
  .item-servicio{
      width:47%;
  }
  
}
@media(max-width:1121px){
  .item-servicio{
      width:47%;
  }
}
@media(max-width:768px){
  .item-servicio{
      width:100%;
  }
}
@media(max-width:1387px){
  .item-servicio{
      width:47%;
  }
  
}
@media(max-width:961px){
  .item-servicio{
      width:100%;
  }
  .img-fotografia{
    width: 70%;
    max-width: 380px;
    margin: 0 auto;
    border-radius:5px;
  }
}
/***************************fin seccion servicio*********************/
@media only screen and (min-width:320px) and (max-width:768px){
  .btn-wsp{
      width:63px;
      height:63px;
      line-height: 66px;
  }
  .imagen-servicios-inicio{
    height: 450px;
}
}
@media only screen and (min-width:766px) and (max-width:989px){
  .imagen-servicios-inicio{
    height: 400px;
}
.contenedor img {
  width: 98%;
  height: 98%;
}
}
@media only screen and (min-width:1405px) and (max-width:1629px){
  .contenedor img {
    width: 88%;
}
.imagen-servicios-inicio {
    border-top: calc(0.5rem - 1px) !important;
    border: calc(0.5rem - 1px) !important;
    margin: 10px;
    height: 450px;
}
}
@media only screen and (min-width:575px) and (max-width:759px){
  .contenedor img {
    width: 80%;
}
.imagen-servicios-inicio {
    border-top: calc(0.5rem - 1px) !important;
    border: calc(0.5rem - 1px) !important;
    margin: 10px;
    height: 450px;
}
}
@media only screen and (max-width: 595px) {
  .logo_footer {
  position: static !important;
  width: 100%;
  text-align: left;
  /* margin-top:0px; */
  }
}
@media only screen and (max-width: 466px) {
  
  .informacion p{
    text-align:left;
  }
  p{
    font-size: 17px !important;
  }
  .form-input{
    padding: 10px 10px 10px 20px;
    border-radius: 50px;
    margin: 10px 0px 0px 0px;
    font-size: 15px !important;
  }
  .form-contenido{
    padding: 15px 15px 15px 15px;
  }
  .box_copyright {
    font-size: 13px;
  }
  .container-servicio-descripcion{
    max-width: 466px;
    margin: auto;
    display: flex; /*Establecemos la flex al contenedor*/
    flex-wrap: wrap; /*wrap para que los ítems sobrantes se desplacen a otra fila*/
  }
}
.bg-light {
  background-color: #fff !important;
}